* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-left: 300px;
}

h1 {
    margin-left: 40px;
}

.new-task-input {
    display: flex;
    margin-left: 105px;
    height: 40px;
    
    & #task-input {
        max-width: 700px;
        width: 80%;
        padding-left: 10px;
    }

    & #add-btn {
        height: 40px;
        width: 60px;
        color: white;
        background-color: #467AB2;
        border: none;

        &:hover {
            background-color: #8aa4c0;
            transition-property: background;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;
        }
    }
}

ul {
    padding: 20px;

    & li {
        list-style: none;
        margin-bottom: 10px;
        padding: 0 15px 0 15px;
        height: 50px;

        display: flex;
        align-items: center;

        transition-duration: 150ms;
        transition-property: background;
        transition-timing-function: ease-in-out;

        &:hover {
            background-color: lightblue;
        }

        & .task-check {
            margin-right: 45px;
        }

        & .task-text {
            display: inline;
            flex-grow: 1;
            cursor: pointer;

            &.editing {
                display: none;
            }

            &.done {
                text-decoration: line-through;
                color: gray;
            }
        }

        & .edit-input {
            flex-grow: 1;
            height: 33px;
            
            &:focus-visible {
                outline: 0;
            }
        }
        
        & button {
            height: 39px;
            width: 75px;
            color: white;
            background-color: #467AB2;
            border: none;

            &:hover {
                background-color: #8aa4c0;
                transition-property: background;
                transition-duration: 250ms;
                transition-timing-function: ease-in-out;
            }
        }

        & .task-delete {
            height: 16px;
            width: 16px;
            margin-left: 20px;
            

            &:hover {
                cursor: pointer;
            }
        }
    }
}